@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    background: #E0E0E0;
    height: 8vh;
}


/***************************************************************/

.body-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 92vh;
}

.subtitle {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
}


/***************************************************************/

.logo {
    font-size: 24px;
    letter-spacing: 4px;
    width: 100%;
}

.logo-image {
    width: 40px;
    height: 36.84px;
    margin: 22px;
    margin-left: 200px;
}

.nav-list {
    display: flex;
    align-items: center;
    text-align: center;
    width: 45%;
    height: 40px;
    list-style: none;
    background: #FFFFFF;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    margin-right: 200px;
    justify-content: space-around;
}

.line {
    transform: rotate(90deg);
    width: 20px;
    background-color: #333333;
    height: 2px;
}


/***************************************************************/

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: black;
    margin: 8px;
}

.mobile-menu {
    cursor: pointer;
    display: none;
}


/***************************************************************/

.form-box {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 344px;
    background: #FFFFFF;
    border: 1px solid #979797;
    border-radius: 4px;
    padding: 10px;
    margin: 20px;
}

.extrato-container {
    width: 50%;
    height: 281px;
    text-align: center;
    justify-content: center;
    background: #FFFFFF;
    margin: 20px;
}

.value {
    text-align: right;
}

.form-box div {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-box label {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #333333;
    margin-bottom: 5px;
}

.form-box input {
    height: 32px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #333333;
    border-radius: 4px;
    border: 1px solid #979797;
    margin-bottom: 20px;
}

.form-box select {
    height: 32px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #333333;
    border-radius: 4px;
    border: 1px solid #979797;
    margin-bottom: 20px;
}


/***************************************************************/

.button {
    height: 30px;
    padding: 5px;
    color: #FFFFFF;
    background: #333333;
    border: none;
    outline: none;
    border-radius: 5px;
    overflow: hidden;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
}

footer {
    bottom: 0px;
    width: 100%;
    height: 14px;
    background: #333333;
}

h2 {
    display: flex;
    align-content: stretch;
    justify-content: center;
}


/***************************************************************/

@media (max-width: 1112px) and (orientation: landscape) {
    body {
        overflow-x: hidden;
    }
    .nav-list {
        margin-right: 20px;
    }
    .logo-image {
        margin-left: 22px;
    }
}


/***************************************************************/

@media (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
    .nav-list {
        position: absolute;
        top: 6vh;
        right: 0;
        width: 50vw;
        height: 94vh;
        background-color: #333333;
        padding: 10px;
        transform: translateX(100%);
        align-content: space-between;
        justify-content: flex-start;
        align-items: flex-end;
        flex-direction: column;
        margin-right: 0px;
    }
    .nav-list-transform {
        transition: transform 0.3s ease-in;
    }
    .nav-list li {
        color: #FFFFFF;
        margin-left: 0;
        opacity: 0;
    }
    .mobile-menu {
        display: block;
    }
    .body-container {
        flex-wrap: wrap;
        width: 100%;
        height: 92vh;
        padding: 1rem;
        align-items: flex-start;
        align-content: flex-start;
    }
    .form-box {
        width: 100%;
        height: 189px;
        max-width: 800px;
        padding: 10px;
        margin: 20px;
    }
    .input-box {
        margin: 5px;
    }
    .extrato-container {
        width: 100%;
        height: 281px;
        text-align: center;
        justify-content: center;
        background: #FFFFFF;
        margin: 20px;
    }
    .ul li:hover {
        width: 252px;
        height: 32px;
        background-color: #C4C4C4;
    }
    .nav-list.active {
        transform: translateX(0);
    }
    .logo-image {
        margin-left: 22px;
    }
    .logo {
        font-size: 24px;
        letter-spacing: 4px;
        text-align: center;
    }
    .form-box div {
        display: flex;
        flex-direction: row;
    }
    .subtitle-box {
        justify-content: center;
    }
    .buttom-container {
        justify-content: flex-end;
    }
    .button {
        width: 200px
    }
}


/***************************************************************/

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}

.nav-list.active .line1 {
    display: flex;
}


/***************************************************************/

@media (max-width: 411px) {
    body {
        overflow-x: hidden;
    }
    nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-family: 'Lato', sans-serif;
        font-style: normal;
        background: #E0E0E0;
        height: 8vh;
    }
    .body-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 92vh;
    }
    .form-box {
        display: flex;
        flex-direction: column;
        width: 92%;
        height: 50%;
        background: #FFFFFF;
        border: 0px;
        border-bottom: 1px solid #979797;
        padding: 10px;
        margin: 20px;
    }
    .extrato-container {
        width: 100%;
        height: 281px;
        text-align: center;
        justify-content: center;
        background: #FFFFFF;
        margin: 20px;
    }
    .form-box div {
        display: contents;
    }
    .button {
        height: 30px;
        padding: 5px;
        color: #FFFFFF;
        background: #333333;
        border: none;
        outline: none;
        border-radius: 5px;
        overflow: hidden;
        font-family: 'Lato', sans-serif;
        font-size: 16px;
        font-weight: 400;
        cursor: pointer;
        width: 100%;
    }
    .body-container {
        display: flex;
        justify-content: flex-start;
        padding: 0px;
        flex-wrap: nowrap;
    }
    .logo {
        font-size: 18px;
        text-align: center;
    }
    .logo-image {
        display: none;
    }
    #subtitle-1 {
        display: none;
    }
}